@model IdentityServer3.Core.ViewModels.LogoutViewModel
@{
//ViewBag.Title = "خروج از سامانه";
}

@* This is essentially a copy of the embedded HTML that comes from IdSvr, adapted to access the Model server-side *@

@*<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>*@

<html >



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="/Content/images/favicon.ico" type="image/ico">
    <title>خروج از سامانه</title>
    
    <link href="/content/app/app.css" rel="stylesheet">
    <link href="/Content/libs/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/libs/Login.css" rel="stylesheet" />

    <link href="/Content/libs/ace.css" rel="stylesheet" />
</head>
<body>
    <div class="row center-block">
        <div class="login-sec">
            <div class="login-textbox">
                <h6 class="header blue lighter bigger">
                    <i class="fa fa-coffee green"></i>
                    خروج از سامانه
                </h6>
                <form name="form" method="post" action="@Model.LogoutUrl">
                    <input type="hidden" name="@Model.AntiForgery.Name" value="@Model.AntiForgery.Value" />
                    <fieldset>
                        <div class="form-group">
                            <button class="btn width-35 pull-left btn btn-small btn-primary" id="yes">تایید</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>
@section scripts{
    @Html.Partial("_RenderAngularModel")
}
